/******************Css used in complete admin design******************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button-arrow:before {
  content: "\e91f";
}
.icon-Add-User:before {
  content: "\e900";
}
.icon-Arrow:before {
  content: "\e901";
}
.icon-Bot:before {
  content: "\e902";
}
.icon-Calendar:before {
  content: "\e903";
}
.icon-Checked-Round:before {
  content: "\e904";
}
.icon-Checked:before {
  content: "\e905";
}
.icon-Close:before {
  content: "\e906";
}
.icon-Delete:before {
  content: "\e907";
}
.icon-Download:before {
  content: "\e908";
}
.icon-Dropdown:before {
  content: "\e909";
}
.icon-Duplicate:before {
  content: "\e90a";
}
.icon-Edit:before {
  content: "\e90b";
}
.icon-Ellipsis:before {
  content: "\e90c";
}
.icon-Expand:before {
  content: "\e90d";
}
.icon-Eye:before {
  content: "\e90e";
}
.icon-File:before {
  content: "\e90f";
}
.icon-Globe:before {
  content: "\e910";
}
.icon-Information:before {
  content: "\e911";
}
.icon-Layout:before {
  content: "\e912";
}
.icon-Question-Mark:before {
  content: "\e913";
}
.icon-Redo:before {
  content: "\e914";
}
.icon-Refesh:before {
  content: "\e915";
}
.icon-Remove-User:before {
  content: "\e916";
}
.icon-right-arrow-6-1:before {
  content: "\e917";
}
.icon-Rocket:before {
  content: "\e918";
}
.icon-Search:before {
  content: "\e919";
}
.icon-Setting:before {
  content: "\e91a";
}
.icon-Signal:before {
  content: "\e91b";
}
.icon-Tick-Outline:before {
  content: "\e91c";
}
.icon-Tick:before {
  content: "\e91d";
}
.icon-Upload:before {
  content: "\e91e";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}


html,body {font-family: 'Open Sans', sans-serif; overflow-x:hidden;background:#EFF1F2;}
section, .main-inner {float: left;width: 100%;}
.container {width:100%; max-width: 1280px;padding-left: 0;padding-right: 0;}
.row {margin-left: 0;margin-right: 0;padding-left: 0;padding-right: 0;}
.container-fluid {padding: 0;}
li{list-style-type:none;}
ul{padding:0;float: left;margin-bottom:0;}
a:hover {cursor:pointer; color:#31CDB9;outline: none;}
.osr-9{font-size:11px;line-height:13px;font-weight:400;}
.oss-9{font-size:11px;line-height:13px;font-weight:600;}
.osb-9{font-size:11px;line-height:13px;font-weight:700;}
.osr-11{font-size:13px;line-height:15px;font-weight:400;}
.oss-11{font-size:13px;line-height:15px;font-weight:600;}
.osb-11{font-size:13px;line-height:15px;font-weight:700;}
.osr-13{font-size:15px;line-height:18px;font-weight:400;}
.oss-13{font-size:15px;line-height:18px;font-weight:600;}
.osb-13{font-size:15px;line-height:18px;font-weight:700;}
.osr-16{font-size:18px;line-height:22px;font-weight:400;}
.oss-16{font-size:18px;line-height:22px;font-weight:600;}
.osb-16{font-size:18px;line-height:22px;font-weight:700;} 
.osr-22{font-size:22px;line-height:30px;font-weight:400;}
.oss-22{font-size:22px;line-height:30px;font-weight:600;}
.osb-22{font-size:22px;line-height:30px;font-weight:700;}
.osb-42{font-size:42px;line-height:30px;font-weight:700;}
.black{color:#011627;}
.black-bg{background:#011627;}
.white{color:#ffffff;}
.white-bg{background:#ffffff;}
.turq{color:#31CDB9;}
.turq-bg{background:#31CDB9;}
.light-orange{color:#FF9B85;}
.light-orange-bg{background:#FF9B85;}
.redish{color:#FF9B85;}
.redish-btn-bg{ background:#EE6055;}
.yellow{color:#FFC730;}
.l-grey{color:#F2F2F2;}
.grey{color:#E9E9E9;}
.darkgrey{color:#67737D;}
.orange {color: #F48888;}


/*Green button style*/
.btn-primary.green-btn:hover {background:#000000;box-shadow:none;border:none;}
.btn-primary.green-btn {min-width:126px; height:40px; background:#31CDB9;border: 0;border-radius: 0;}

.btn:focus, .btn-primary:active:focus, .btn-primary.green-btn:focus {background:#000000;box-shadow:none;border:none;}
.btn-primary.green-btn:active:focus {background:#000000;box-shadow:none;border:none;}
.btn-primary.green-btn:active {background:#000000;box-shadow:none;border:none;}
/*Green button style*/

/*Arrow button style with animation*/

.main-btn {position: relative;width: 120px;}
button.btn.btn-outline-primary:focus {box-shadow: none;}
button.btn.btn-outline-primary {border: 1px solid #ffffff;border-radius: 0;width: 130px;height: 40px;text-align: left;}
button.btn.btn-outline-primary::after {  border: none;content: "\e91f";right: 7px;position: absolute;top: 12.5px;font-family: 'icomoon';font-size: 9px;/*transform: rotate(-90deg);*/}
button.btn.btn-outline-primary:hover {background: #ffffff;color: #011627;}
button.btn.btn-outline-primary:hover::after { transition: background 0.5s ease;animation: slide1 2s ease-in-out infinite;}
@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

/* /Arrow button style with animation*/
/****************** /Css used in complete admin design******************/


/****************** Top-bar css******************/
.topbar-main .container-fluid {padding: 0;}
.topbar-main {padding-top: 5px;    border-bottom: 1px solid #f2f2f2;    padding-bottom: 6px;background: #ffffff;}
.topbar-main nav.navbar.navbar-expand-lg {background: transparent !important;}
li.nav-item.cs-topright-right {position: relative;}
li.nav-item.cs-topright-right > a::after {border: none;content: "\e909";right: -44px;position: absolute;top: 11px;font-family: 'icomoon';font-size: 9px;transition: 300ms linear all;}
li.nav-item.cs-topright-right > a.show::after {transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-o-transform: rotate(-180deg);transition: 300ms linear all;top: 8px;}
ul.nav.cs-topright {padding-right: 45px;    position: relative;}
.topbar-main ul.nav.cs-topright li.cs-topright-left a {padding-right: 0;margin-right: 16px;}
/*.topbar-main ul.nav.cs-topright li.cs-topright-right a {color: #011627;font-size: 13px;}*/
.topbar-main ul.nav.cs-topright li.cs-topright-right img {float: left;margin-right: 10px;}
li.nav-item.cs-topright-left {border-right: 1px solid #f2f2f2;margin-right: 20px;}
ul.nav.cs-topright ul.dropdown-menu.show li {margin-bottom: 17px;}
ul.nav.cs-topright ul.dropdown-menu.show li:last-child {margin-bottom: 5px;}
ul.nav.cs-topright ul.dropdown-menu.show {left: unset;top: 61px;background: #FFFFFF;box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);padding: 25px 20px;border: 0;right: -45px;    border-radius: 0;    margin-top: 0;}
ul.nav.cs-topright ul.dropdown-menu.show a {padding: 0;opacity: 0.7;}
ul.nav.cs-topright ul.dropdown-menu.show a.active {padding: 0;color: #011627;opacity: 0.7;font-weight:600;    background: transparent;}
ul.nav.cs-topright ul.dropdown-menu.show a:hover {background: transparent;color: #3BD4AE;opacity: 1;}
li.nav-item.cs-topright-right #navbarDropdown.show {color: #31CDB9;}
/*dropdown animation*/
.animate {animation-duration: 0.5s;-webkit-animation-duration: 0.5s;animation-fill-mode: both;-webkit-animation-fill-mode: both;}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {  -webkit-animation-name: slideIn;  animation-name: slideIn;}
/*dropdown animation*/
/****************** /Top-bar css******************/


/****************** Dashboard-Export******************/
.dashboard-main {background: #ffffff;    min-height: 80px;}
.row.cs-dashboard1 {padding-top: 40px;float: left;width: 100%;}
.cs-dashboard1 ul {padding: 0;float: left;width: 100%;}
.cs-dashboard1 ul li {padding: 0;list-style-type: none;}
.cs-dashboard1 .col1 ul li a {text-decoration: none;border-bottom: 2px solid #3BD4AE;padding-bottom: 15px;}
.cs-dashboard1 .col2 {text-align: right;margin-top: -10px;}
.cs-dashboard1 .col2 li span.tw-t, .cs-dashboard1 .col2 li span.ec-t {text-align: left;width: 100%;}
.cs-dashboard1 .col2 li span.tw-b, .cs-dashboard1 .col2 li span.ec-b {text-align: left;width: 100%;display: block;}
.cs-dashboard1 .col2 ul {width: 100%;float:right;    max-width: 300px;margin-bottom: 0;}
.cs-dashboard1 .col2 li {float: left;width: 50%;padding-left: 35px;}
.cs-dashboard1 .col2 li.ec-main {padding-left: 60px;}
.cs-dashboard1 .col2 li.tw-main {border-right: 1px solid #f2f2f2;}
.cs-dashboard1 .col2 li > span {text-align: left;float: left;}
.cs-dashboard1 .col2 li.tw-main, .cs-dashboard1 .col2 li.ec-main {position: relative;}
.cs-dashboard1 .col2 li.tw-main span.tw-main-inner::before {content: "\e918";left: 0;position: absolute;top: 7px;font-family: 'icomoon';font-size: 22px;color: #737B7D;}
.cs-dashboard1 .col2 li.ec-main span.ec-main-inner::before {content: "\e908";left: 25px;position: absolute;top: 7px;font-family: 'icomoon';font-size: 22px;color: #737B7D;}
/****************** /Dashboard-Export******************/



/****************** Dashboard-Data******************/
.dashboard-data {background: #EFF1F2;}
.cs-dashdata1 {padding-top: 40px;}
.cs-dashdata2 {margin-left: 13px;margin-right: 13px;padding-bottom: 15px;}
.cs-dashdata2 .col1 {padding: 20px;}
.cs-dashdata2 .col2 {padding: 20px;}
.cs-dashdata2 .col1 h2 img {margin-right: 15px;}
.our-team {padding-left: 75px;padding-top:80px;}
.cs-dashdata2 .col1 span.icon-Signal {float: left;background: #ffffff;width: 50px;height: 50px;display: inline-block;border-radius: 5px;font-size: 30px;padding: 11px;margin-right: 20px;}
.cs-dashdata2 .col1 span.how {padding-top: 10px;display: inline-block;}
/*Searchboxdesigncss*/
.searchbar {position: relative;min-width: 49px;width: 0%;height: 49px;float: right;overflow: hidden;-webkit-transition: width 0.3s;-moz-transition: width 0.3s;-ms-transition: width 0.3s;-o-transition: width 0.3s;transition: width 0.3s;    border-radius: 0px;}
.searchbar-input {top: 0;right: 0;border: 0;outline: 0;background: #ffffff;width: 100%;height: 49px;margin: 0;padding: 0px 55px 0px 20px;color: #67737D;font-size: 13px;border-radius: 0px;}
.searchbar-input::-webkit-input-placeholder {color: #67737D;}
.searchbar-input:-moz-placeholder {color: #67737D;}
.searchbar-input::-moz-placeholder {color: #67737D;}
.searchbar-input:-ms-input-placeholder {color: #67737D;}
.searchbar-icon, .searchbar-submit {width: 49px;height: 49px;display: block;position: absolute;top: 0;font-size: 18px;right: 0;padding: 0;margin: 0;border: 0;outline: 0;line-height: 49px;text-align: center;cursor: pointer;color: #ffffff;background: #011627;
-webkit-transition: background-color 500ms linear;
-moz-transition: background-color 500ms linear;
-o-transition: background-color 500ms linear;
-ms-transition: background-color 500ms linear;
transition: background-color 500ms linear;
border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
form.searchbar.searchbar-open span.searchbar-icon {background: #ffffff;}
form.searchbar.searchbar-open span.searchbar-icon span.icon-Search {color: #011627;}
.searchbar-open {width: 100%;border-radius: 5px;margin-bottom: 15px;}
/* / Searchboxdesigncss*/


/****************** My-sites******************/
.my-sites {background: #EFF1F2;}
.cs-my-sites1 {margin-left: 13px;margin-right: 13px;padding-bottom: 15px;    margin-top: 30px;}
.cs-my-sites1 .col1 {padding: 20px 60px 10px 60px;}
.cs-my-sites1 .col1 h2 {margin-left: -40px;float: left;width: 100%;    margin-bottom: 0;}
.cs-my-sites1 .col1 h2 span.g-lay {margin-right: 10px;font-size: 30px;float: left;}
.cs-my-sites1 .col1 h2 span.my {float: left;padding-top: 3px;}
.cs-my-sites1 .col1 p {float: left;width: 100%;margin-bottom: 0;}
.cs-my-sites1 .col2 {text-align: right;padding: 40px 60px 10px 60px;}
.cs-my-sites1 .col2 button.btn.btn-outline-primary {border: 1px solid;width: 175px;}
.cs-my-sites2 {margin-left: 13px;margin-right: 13px;padding-bottom: 35px;padding-left: 48px;padding-right: 48px;}
.cs-my-sites2 .col1 .col1-inner {border: 1px solid #f2f2f2;float: left;width: 100%;}
.cs-my-sites2 .col1-content {padding: 15px 10px;float: left;width: 100%;}
.cs-my-sites2 .col1-content ul {float: left;width: 100%;margin-bottom:0;}
.cs-my-sites2 .col1-content ul li.li-left {float: left;width: 60%;}
.cs-my-sites2 .col1-content ul li.li-right {float: left;width: 40%;text-align: right;    margin-top: -6px;}
.cs-my-sites2 .col1-content ul li.li-right a {padding: 3px 6px;text-decoration: none;}
.cs-my-sites2 .col1-content h3 {margin-bottom: 12px;}
.cs-my-sites2 .col1-content p {float: left;width: 100%;margin-top: -5px;margin-bottom: 0;}
.cs-my-sites2 .col1-content span {margin-top: 0px;display: block;float: left;width: 100%;}
.cs-my-sites2 .col1-content span:hover {cursor:pointer;}
.cs-my-sites2 .col1-content ul li.li-right a:hover {color: #ffffff;}
.cs-my-sites2 .col4  {position:relative;}
.cs-my-sites2 .col4 .col1-inner {height: 100%;}
.cs-my-sites2 .col4 .col1-inner img {position: absolute;bottom: 0;right: 13px;}
.cs-my-sites2 .col4 .col1-content {height: 100%;    padding: 20px;    position: relative;}
.fify-main {position: absolute;top: 50%;left: 20px;transform: translate(-0px, -50%);}
p.oss-13.fifty-buy {position: absolute;bottom: 40px;width: auto;}
.cs-my-sites2 .col4 .col1-content h2 {margin-bottom: 55px;}
.cs-my-sites2 .col4 .col1-content p {margin-top:0; margin-bottom: 15px;}
.cs-my-sites2 .col4 .col1-content span {display: inline-block;    font-size: 20px;    position: absolute;    margin-left: 10px;}
.cs-my-sites2 .col4 .col1-content a {text-decoration: none;margin-top: 15px;display: block;}
.cs-my-sites1 .col2 button.btn.btn-outline-primary::after{display:none;}
p.oss-13.fifty-buy a:hover span {color: #31CDB9;}
.restro-bg {position: relative;margin-bottom: 0;}
.restro-bg:hover .shadow-up {display: block;}
.shadow-up {position: absolute;top: 0;height: 100%;width: 100%;background: rgba(1,22,39,0.7);display: none;}
.restro-bg:hover .shadow-up span {position: absolute;top: 50%;transform: translate(-50%, -50%);left: 50%;color: #ffffff;}
.restro-bg:hover .shadow-up a.cs-shadow-anchor::after {border: none;content: "\e90c";right: 0px;position: absolute;top: 11px;font-family: 'icomoon';font-size: 22px;}
html body .restro-bg .shadow-up ul.dropdown-menu {right: 20px !important;left: unset !important;top: 10px !important;border-radius: 0;padding: 0;background:#ffffff;box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);}
html body .restro-bg .shadow-up ul.dropdown-menu li a span {position: unset;color: #677452;font-size: 16px;padding-right: 0px;margin-top: 10px;float: left;padding-left: 5px;}
html body .restro-bg .shadow-up ul.dropdown-menu li a {padding-top: 7px;padding-bottom: 7px;}
html body .restro-bg .shadow-up ul.dropdown-menu li a.active {color: #011627;background: #f2f2f2;padding-top: 7px;padding-bottom: 7px;text-align: left;}
html body .restro-bg .shadow-up ul.dropdown-menu li a.active span {color: #011627;}
html body .restro-bg .shadow-up ul.dropdown-menu li a:hover {color: #011627;background: #f2f2f2;}
html body .restro-bg .shadow-up ul.dropdown-menu li a:hover span {color: #011627;}
.restro-bg img {width: 100%;}
.cs-my-sites2 .col1-content p a{text-decoration:none;}
.cs-my-sites2 .col1-content p a:hover {color: #31CDB9;text-decoration:underline;}
.restro-bg:hover .shadow-up span a {color: #ffffff;text-decoration: none;}
.restro-bg:hover .shadow-up span a:hover {color: #31CDB9;text-decoration: underline;}
/****************** /My-sites******************/


/****************** Update-account******************/
.update-account {background: #EFF1F2;}
.cs-update-account1 {margin-left: 13px;margin-right: 13px;padding-bottom: 15px;    margin-top: 30px;}
.cs-update-account1 .col1 {padding: 20px 20px 20px 60px;    width: 49%;    margin-right: 12.5px;}
.cs-update-account1 .col1 h2 {margin-left: -40px;float: left;width: 100%;    margin-bottom: 0;}
.cs-update-account1 .col1 h2 span.y-lay {margin-right: 10px;font-size: 30px;float: left;}
.cs-update-account1 .col1 h2 span.my {float: left;padding-top: 5px;}
.cs-update-account1 .col1 p {float: left;width: 100%;margin-bottom: 0;}
.cs-update-account1 .col1 {position: relative;filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));}
.cs-update-account1 .col1.col2 {width: 49%;margin-right: 0;margin-left: 12.5px;padding-right:0;filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));}
.update-account .col1 ul {float: left;width: 100%;margin-top: 20px;}
.update-account .col1 ul li {float: left;width: 50%;}
.update-account .col1 ul li.featured {float: right;text-align: right;position: relative;    padding-right: 20px;}
.cs-update-account1 .col1 h2 span.icon-Expand {position: absolute;right: 20px;    top: 15px;}
.cs-update-account1 .col1 h2 span.icon-Expand::before {font-size:20px;}
.update-account ul.dropdown-menu.show li {margin-bottom: 17px;width:100%;}
.update-account ul.dropdown-menu.show {left: unset !important;top: 30px  !important;background: #FFFFFF;box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);padding: 25px 20px;border: 0;right: -1px !important;    border-radius: 0;float: none;    width: auto;}
.update-account ul.dropdown-menu.show a {padding: 0;opacity: 0.7;}
.update-account ul.dropdown-menu.show a.active {padding: 0;color: #011627;opacity: 0.7;font-weight:600;    background: transparent;}
.update-account ul.dropdown-menu.show a:hover {background: transparent;color: #011627;opacity: 0.7;}
.update-account #navbarDropdown.show {color: #31CDB9;}
.update-account .col1 ul li.featured a#navbarDropdown {float: right;padding: 0;margin-left:5px;}
.update-account ul a.nav-link::after {border: none;content: "\e909";right: 0px;position: absolute;top: 2px;font-family: 'icomoon';font-size: 9px;transition: 300ms linear all;    color: #677450;}
.update-account .col1 ul li.featured a#navbarDropdown:hover::after {color: #31CDB9;}
.update-account ul a.nav-link.show::after {transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-o-transform: rotate(-180deg);transition: 300ms linear all;top: 0px;}
.update-account .col1 ul.cs-update-account-data li {width: 100%;float: left;    border-top: 1px solid #f2f2f2;    padding: 15px;}
.update-account .col1 ul.cs-update-account-data li p {margin-bottom: 10px;}
.update-account .col1 ul.cs-update-account-data {margin-top: 0;max-height:287px; overflow-y:scroll;}  
.update-account .col1 ul.cs-update-account-data::-webkit-scrollbar {width: 6px;}
.update-account .col1 ul.cs-update-account-data::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px #ffffff; border-radius: 10px; }
.update-account .col1 ul.cs-update-account-data::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px #e9e9e9; }
span.cmnt-feat a {text-decoration: none;}
.update-account .col1 ul.cs-update-account-data li p:last-child {margin-bottom:0;}
.update-account .col1 ul li.featured a#navbarDropdown.show::after {color: #31CDB9;}
a.expnd span:hover {color: #31CDB9;}
/*accordion-css*/
.plans-data {float: left;width: 100%;margin-top: 20px;}
.plans-data .accordion {border: none;border-left: 4px solid #FF9B85;background-color: #f2f2f2;cursor: pointer;padding: 14px 15px 8px 15px;width: 100%;text-align: left;outline: none;font-size: 15px;transition: 0.8s;    position: relative;}
.plans-data .panel {padding: 0 20px;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.4s ease-out;    margin-top: 0px;    margin-bottom: 0px;}
.plans-data .panel .row {   margin-top: 25px;    margin-bottom: 25px;}
.plans-data  button.accordion::after {border: none;content: "\e91f";right: 20px;position: absolute;top: 18px;font-family: 'icomoon';font-size: 9px;transition: 300ms linear all;color: #677450;}
.plans-data .accordion.active::after {transform: rotate(90deg) !important;-webkit-transform: rotate(90deg)  !important;-moz-transform: rotate(90deg) !important;-ms-transform: rotate(90deg) !important;-o-transform: rotate(90deg) !important;transition: 300ms linear all;top: 18px;color:#31CDB9;}
/* /accordion-css*/
.plans-data .panel .col-sm-12.col-md-6.col-lg-6 {float: left;padding-right: 20px;}
.cs-update-account1 .col1 .panel h2 {margin: 0;margin-bottom: 5px;}
.cs-update-account1 .col1 p.change {margin-bottom: 45px;}
.plans-data .panel .upgrade a {text-decoration: none;vertical-align: middle;float: left;position: relative;}
.plans-data .panel .upgrade a span {font-size: 18px;position: absolute;padding-left: 10px;}
.plans-data .panel .col-sm-12.col-md-6.col-lg-6 ul {margin-top: 0;}
.plans-data .panel .col-sm-12.col-md-6.col-lg-6 ul.tik-div li {width: 100%;float: left;margin-bottom: 15px;    position: relative;    padding-left: 22px;}
.plans-data .panel .col-sm-12.col-md-6.col-lg-6 ul.tik-div li::before {border: none;content: "\e91d";right: unset;position: absolute;top: 2px;font-family: 'icomoon';font-size: 14px;color: #677450;left: 0;}
.plans-data ul.current-data li {float: left;width: 100%;margin-bottom: 10px;}
.plans-data ul.current-data li .left {float: left;width: 170px;}
.plans-data ul.current-data li .right {float: left;width: 170px;}
.plans-data .panel .row.current-data-main {margin-top: 0;margin-bottom: 0;}
.plans-data .panel .row.current-data-main .col-sm-12.col-md-12.col-lg-12 {padding: 0;}
.plans-data .panel .row.current-data-main .see-detail a {text-decoration: none; position:relative;}
.plans-data .panel .row.current-data-main .see-detail a span {font-size: 18px;position: absolute;padding-left: 10px;}   
/****************** /Update-account******************/



/****************** Profile-page******************/

/****************** tab-css******************/
.tab-content {float: left;width: 100%;}
.profile-tab-content .profile-tab-coll {padding: 0;}
.profile-tab-content .profile-tab-colr {background: #e9e9e9;padding: 0;   margin-top: 38px;}
.profile-row1 {margin-top: -42px;padding-bottom: 45px; }
.profile-row1 #nav-tab {border: 0;}
.profile-row1 #nav-tab a {border: 0;border-bottom: 2px solid transparent;padding: 0;padding-bottom: 19px;margin-right: 45px;background: transparent;}
.profile-row1 #nav-tab a.active {border-bottom:2px solid #31CDB9; color: #31CDB9; font-weight:700;}
.profile-tab-content {margin-top: 35px;}
.profile-data {background: #ffffff;float: left;width: 100%;}
.p-data-cmn {padding: 40px 30px;float: left;width: 100%;}
.profile-data-row1 .img-upload-left {float: left;margin-right: 25px;border: 2px solid #31CDB9;border-radius: 99px;}
.img-upload-right p {margin-bottom: 0;}
.profile-data-row1{border-bottom:1px solid #f2f2f2;}



.profile-data-row1 .img-upload {float: left;width: 100%;position: relative;}
.profile-data-row1 .img-upload .img-upload-right {float: left;width: auto;position:relative;    margin-top: 7px;}
.profile-data-row1 .img-upload input.cs-get-file {width: 101px;height: 39px;background: #31cdb9;padding: 8px 12px;    margin-bottom: 10px;}
.profile-data-row1 .img-upload input.cs-get-file:hover {cursor:pointer;}
.profile-data-row1 .img-upload .cs-get-file::-webkit-file-upload-button {visibility: hidden;}
.profile-data-row1 .img-upload .cs-get-file::before {content: "\e901";outline: none;cursor: pointer;width: 101px;background: #31cdb9;font-family: 'icomoon';color: #ffffff;font-size: 16px;font-weight: 400;}
.profile-data-row1 .img-upload .img-upload-right span {position: absolute;left: 37px;top: 9px;}
.profile-data-row1 .img-upload input.cs-get-file:focus, .profile-data-row1 .img-upload input.cs-get-file:hover {border: none;box-shadow: none;outline: none;}
.profile-data-row1 .img-upload.prf_img_added .img-upload-left:hover button#remove-img{outline:none;display: block !important;margin: 0;float: left;position: absolute;border: 0;background: rgba(0,0,0,0.2);border-radius: 99px;padding: 31px 33px;top: 0;}
.profile-data-row1 .img-upload.prf_img_added button#remove-img span.icon-Delete {color: #ffffff;font-size: 30px;}
.profile-data-row1 .img-upload-left img#myImg {border-radius: 99px;}





.profile-data-row2 {position: relative;}
.profile-data-row2 form {float: left;width: 100%;}
.profile-data-row2 form input {background: #f2f2f2;border: 0;border-radius: 0;height: 49px;}
.profile-data-row2 ul {float: left;width: 100%;margin-bottom: 0;}
.profile-data-row2 div {float: left;width: 100%;margin-bottom: 10px;margin-top: 15px;}
.profile-data-row2 form ul li {float: left;width: 48.5%;}
.profile-data-row2 form ul li.right {margin-left: 1.5%;}
.profile-data-row2 form ul li.left {margin-right: 1.5%;}
.profile-data-row2 form ul li div {margin-bottom: 10px;margin-top: 15px;}
.profile-data-row2 form input:focus {background: #f2f2f2;box-shadow: none;}
.profile-data-row2 .bio textarea {height: 147px;background: #f2f2f2;border: 0;border-radius: 0;padding-top: 16px;}
.profile-data-row2 .bio textarea:focus {background: #f2f2f2;box-shadow: none;}
.profile-data-row2 .green-btn {position: absolute;right: 30px;top: 45px;}



.account-tab-content {margin-top: 35px;}
.account-tab-content .account-tab-coll {padding: 0;    background: #ffffff;}
.account-tab-content .account-tab-coll h1 {background: #eff1f2;padding-bottom: 9px;margin-bottom: 0;}
.account-data {background: #ffffff;float: left;width: 100%;}
.profile-data-row1 {border-bottom: 1px solid #f2f2f2; position: relative;}
.account-data-row1 form {float: left;width: 100%;}
.account-data-row1 div {float: left;width: 100%;margin-bottom: 10px;margin-top: 15px;}
.account-data-row1 form input {background: #f2f2f2;border: 0;border-radius: 0;height: 49px;}
.account-data-row1 form input:focus {background: #f2f2f2;box-shadow: none;}
.account-data-row1 {position: relative;}
.account-data-row1 .green-btn {position: absolute;right: 30px;top: 45px;}
.account-data-row1 {border-bottom: 1px solid #f2f2f2;}
.account-tab-content .account-tab-colr {background: #e9e9e9;padding: 0; padding-top: 40px; margin-top: 38px;    padding-bottom: 10px;}
.account-tab-colr-inner {padding: 0px 30px 30px 30px;}
.gs-border {padding-left: 26px;border-left: 4px solid #31cdb9;}
.upgrade-plan, .invite-people {margin-top: 25px;}
.upgrade-plan p, .invite-people p {margin-bottom: 55px;}
.account-tab-colr-inner1 {border-top: 1px solid #f2f2f2;padding-top: 30px;}
.account-tab-colr-inner1d {float: left;width: 100%;padding: 0px 30px 30px 30px;}


/*accordion-css*/
.sc-accordion {float: left;width: 100%;margin-top: 20px;}
.sc-accordion .accordion {border: none;background-color: #ffffff;cursor: pointer;padding: 14px 15px 8px 15px;width: 100%;text-align: left;outline: none;font-size: 15px;transition: 0.8s;    position: relative;    margin-bottom: 2px;}
.sc-accordion .panel {padding: 0 15px;background-color: transparent;max-height: 0;overflow: hidden;transition: max-height 0.4s ease-out;    margin-top: 0px;    margin-bottom: 0px;}
.sc-accordion .panel .row {   margin-top: 25px;    margin-bottom: 25px;}
.sc-accordion  button.accordion::after {border: none;content: "\e91f";right: 20px;position: absolute;top: 18px;font-family: 'icomoon';font-size: 9px;transition: 300ms linear all;color: #677450;}
.sc-accordion .accordion.active::after {transform: rotate(90deg) !important;-webkit-transform: rotate(90deg)  !important;-moz-transform: rotate(90deg) !important;-ms-transform: rotate(90deg) !important;-o-transform: rotate(90deg) !important;transition: 300ms linear all;top: 18px;color: #31cdb9;}
.sc-accordion .accordion span {float: left;font-size: 30px;display: inline-block;margin-top: -4px;margin-right: 15px;}
.sc-accordion .panel .row .col-md-12 {padding: 0;}
.sc-accordion .panel ul li .left {float: left;width: 80%;}
.sc-accordion .panel ul li .left .synom-left {background: #31cdb9;border-radius: 99px;padding: 7px 8px;float: left;width: auto;}
.sc-accordion .panel ul li .left .synom-right-main {width: auto;padding-left: 42px;display: block;}
.sc-accordion .panel ul li .left .synom-right-main .synom-right-name {float: left;display: block;    padding-bottom: 5px;}
.sc-accordion .panel ul li .left .synom-right-main .synom-right-email {float: left;}
.sc-accordion .panel ul li .right {float: left;width: 20%;text-align: right;    margin-top: 4px;}
.sc-accordion .panel ul li .right a.expnd {text-decoration: none;}
.sc-accordion .panel ul li .right a.expnd span.icon-Expand {font-size: 18px;}
.sc-accordion .panel ul li {float: left;width: 100%;margin-bottom: 20px;}
.sc-accordion .panel ul li:last-child {margin-bottom: 0px;}
/* /accordion-css*/




.notify-tab-content {margin-top: 35px;}
.notify-tab-content .notify-tab-coll {padding: 0;    background: #ffffff;}
.notify-tab-content .notify-tab-coll h1 {background: #eff1f2;padding-bottom: 9px;margin-bottom: 0;}
.notify-data {background: #ffffff;float: left;width: 100%;}
.notify-data-row1 {border-bottom: 1px solid #f2f2f2; position: relative;}
.notify-tab-content .notify-tab-colr {background: #e9e9e9;padding: 0;margin-top: 38px;}

/*toggle-switch*/
.notify-data-row1 .switch {position: relative;display: inline-block;width: 35px;height: 22px;    float: left;    margin-right: 15px;}
.notify-data-row1 .switch input { opacity: 0;width: 0;height: 0;}
.notify-data-row1 .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #e9e9e9;-webkit-transition: .4s;transition: .4s;}
.notify-data-row1 .slider:before {position: absolute;content: "";height: 20px;width: 20px;left: 1px;bottom: 1px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.notify-data-row1 input:checked + .slider {background-color: #31CDB9;}
.notify-data-row1 input:focus + .slider {box-shadow: 0 0 1px #31CDB9;}
.notify-data-row1 input:checked + .slider:before {-webkit-transform: translateX(13px);-ms-transform: translateX(13px);transform: translateX(13px);}
.notify-data-row1 .slider.round {border-radius: 34px;}
.notify-data-row1 .slider.round:before {border-radius: 50%;}
.notify-data-row1 ul {margin-top: 10px;}
.notify-data-row1 ul li {float: left;width: 100%;margin-bottom: 10px;}
/* /toggle-switch*/


/****************** /tab-css******************/

/****************** /Profile-page******************/


/********************************* Pop-up*********************************/
/********************* Common-things-in-most-Pop-ups*****************/
body .fade {transition: opacity .50s linear;}
body .modal.fade .modal-dialog {transition: -webkit-transform .4s ease-out;transition: transform .4s ease-out;transition: transform .4s ease-out,-webkit-transform .4s ease-out;-webkit-transform: translate(0,-50px);transform: translate(0,-50px);}
body.modal-open {padding-right: 0 !important;}
body.modal-open .modal {padding-right: 0 !important;}

body.modal-open .modal .modal-content {padding-top: 10px;padding-bottom: 20px;border-radius: 0;max-width: 645px;margin: 0 auto;}
body.modal-open .modal .modal-dialog .modal-content .modal-header {padding: 25px 18px;}
body.modal-open .modal .modal-dialog .modal-content .modal-header .row {width: 100%;}
body.modal-open .modal .modal-dialog .modal-content .modal-header .row .colr {float: right;text-align: right;}
body.modal-open .modal .modal-dialog .modal-content .modal-header .row .colr button {background: transparent;border: 0;padding: 0;padding-top: 5px;outline:none;}
body.modal-open .modal .modal-dialog .modal-content .modal-body {padding: 35px 18px;}
body.modal-open .modal .modal-dialog .modal-content .modal-body form {float: left;width: 100%;}
body.modal-open .modal .modal-dialog .modal-content .modal-body form ul {float: left;width: 100%;}
body.modal-open .modal .modal-dialog .modal-content .modal-body form ul input {background: #f2f2f2;border: 0;border-radius: 0;height: 49px;}
body.modal-open .modal .modal-dialog .modal-content .modal-body form ul input:focus, body.modal-open .modal .modal-dialog .modal-content .modal-body form ul input:hover {box-shadow:none;;border: 0;}
body.modal-open .modal .modal-dialog .modal-content .modal-footer {padding: 0px 18px 25px 18px;    border: 0;}
body.modal-open .modal .modal-dialog .modal-content .modal-footer button {width: 100%;margin: 0;margin-left: 12px;margin-right: 12px;height: 40px;}
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
/********************* /Common-things-in -all-Pop-ups*****************/

/********************* Duplicate-popup*****************/
body.modal-open .modal .modal-dialog .modal-content .modal-body .cs-ur-data {    margin-top: 20px;    float: left;    width: 100%;}
/********************* /Duplicate-popup*****************/

/********************* Rename-popup*****************/
body.modal-open .modal .modal-dialog .modal-content .modal-body .cs-ur-data {    margin-top: 20px;    float: left;    width: 100%;}

/********************* /Rename-popup*****************/

/********************* export-popup*****************/
body.modal-open .modal.export .modal-content {    padding-bottom: 10px;}
body.modal-open .modal.export .modal-dialog .modal-content .modal-body {padding-bottom:0;}
body.modal-open .modal.export .modal-dialog .modal-content .modal-body .row-inner {padding-bottom:35px;margin-bottom: 25px;}
.export .left {float: left;margin-right: 20px;width: 18%;}
.export .right {float: left;width: 76%;}
.export .row-inner {border-bottom: 1px solid #f2f2f2;width: 96%;margin: 0 auto;}
.export .row-inner .coll {float: left;}
.export .row-inner .colr {float: left;position:relative;}
.export .row-inner .colr > a {border: 1px solid #f2f2f2;}
/*common dropdown code for css*/
.export .row-inner .colr > a::after {border: none;content: "\e909";right: 18px;position: absolute;top: 11px;font-family: 'icomoon';font-size: 9px;transition: 300ms linear all;}
.export .row-inner .colr > a.show::after {transform: rotate(-180deg);-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-ms-transform: rotate(-180deg);-o-transform: rotate(-180deg);transition: 300ms linear all;top: 8px;}
.export .row-inner .colr > a.show, .export .row-inner .colr > a.show::after {color: #31cdb9;}
.export .row-inner ul.dropdown-menu.show {left: unset !important;top: 38px !important;background: #FFFFFF;box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);padding: 25px 20px;border: 0;right: 25px !important;border-radius: 0;margin-top: 0 !important;}
.export .row-inner ul.dropdown-menu.show li {margin-bottom: 17px;}
.export .row-inner ul.dropdown-menu.show li:last-child {    margin-bottom: 5px;}
.export .row-inner ul.dropdown-menu.show a {    padding: 0;    opacity: 0.7;}
.export .row-inner ul.dropdown-menu.show a.active {padding: 0;color: #011627;opacity: 0.7;font-weight: 600;background: transparent;}
.export .row-inner ul.dropdown-menu.show a:hover {background: transparent;color: #3BD4AE;opacity: 1;}
/* /common dropdown code for css*/
body.modal-open .modal.export .modal-dialog .modal-content .modal-footer {float: left;text-align: left;justify-content: left;}
body.modal-open .modal.export .modal-dialog .modal-content .modal-footer button {width: 160px;height: 49px;}



/********************* /export-popup*****************/


/********************************* /Pop-up*********************************/


/********************************* temporary-Pop-up-html*********************************/
ul.temporary {max-width: 1280px;margin: 0 auto;width: 100%;float: none;padding-left: 15px;padding-right: 15px;overflow: hidden;}
ul.temporary li {float: left;margin-right: 25px;}
ul.temporary li:hover{color:#31cdb9;} 
/********************************* /temporary-Pop-up-html*********************************/



/****************** Media Queries******************/
@media (min-width:1200px) and (max-width:1280px) {
.container {width:100%; max-width: 1180px;padding-left: 0;padding-right: 0;}
.cs-update-account1 .col1 {margin-right: 11.5px;}
.cs-update-account1 .col1.col2 {margin-left: 11.5px;}
}


@media (min-width:1860px) and (max-width:2500px) {
.container {width:100%; max-width: 1700px;padding-left: 0;padding-right: 0;}
} 
/****************** /Media Queries******************/




