@import "../../../assets/theme/editorTheme.scss";
.style-panel-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > .styles-container {
    flex: 1;
    overflow: overlay;
  }
  .theme-light & {
    background-color: map-get($light, "background");
    color: map-get($light, "color");
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
  .theme-dark & {
    background-color: map-get($dark, "background");
    color: map-get($dark, "color");
    svg {
      path {
        fill: #c0c0c0;
      }
    }
  }

  .classes-container {
    // height: 11%;
    padding: 22px 20px 18px 20px;
    border-bottom: 1px solid #444444;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.04em;

    .heading {
      .theme-light & {
        color: map-get($light, "color");
      }
      .theme-dark & {
        color: map-get($dark, "color");
      }
    }

    .input {
      padding: 5px 5px 5px 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background: #272727;
      border: 1px solid #444444;
      box-sizing: border-box;
      border-radius: 5px;
      min-height: 40px;
      position: relative;
      .addBtn {
        display: flex;
        // height: 20px;
        // width: 20px;
        height: fit-content;
        padding: 4px 4px 4px 4px;
        background: #444444;
        border: 0.5px solid #444444;
        box-sizing: border-box;
        border-radius: 2px;
        .add-class-icon {
          path {
            .theme-dark & {
              fill: map-get($dark, "icon1");
            }
          }
        }
      }
      .addBtn:hover {
        cursor: pointer;
      }
      .dropdownBtn {
        margin: 5px;
        width: 0%;
        .dropDown {
          path {
            .theme-dark & {
              fill: map-get($dark, "icon1");
            }
          }
        }
      }
      .dropdownBtn:hover {
        cursor: pointer;
      }
      .defaultTxt {
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #ffffff;
        margin-left: 10px;
        display: flex;
        align-items: center;
      }
      .tags-container {
        display: flex;
        flex-wrap: wrap;
        .hidden {
          opacity: 0.5;
        }
        .tags {
          background: #006cff;
          border-radius: 2px;
          padding: 4px 4px 4px 4px;
          margin: 4px 4px 4px 4px;
          min-width: fit-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .tagTxt {
            color: #ffffff;
            font-family: "Source Sans Pro";
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            line-height: 11px;
            padding: 0px 5px 0px 5px;
          }
          .checkbox {
            path {
              .theme-dark & {
                fill: map-get($dark, "icon2");
              }
            }
          }
          .checkbox:hover {
            cursor: pointer;
          }
          .cross {
            path {
              .theme-dark & {
                fill: map-get($dark, "icon2");
              }
            }
          }
          .cross:hover {
            cursor: pointer;
          }
        }
      }
      .tagInput-container {
        width: 100%;
        .add-class-input {
          width: 100%;
          background-color: transparent;
          justify-content: center;
          display: flex;
          align-items: center;
          color: #ffffff;
          text-align: center;
        }
      }
    }

    .list-container {
      position: absolute;
      padding: 15px 10px 15px 10px;
      background: #1b1b1b;
      border-radius: 5px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      color: #c0c0c0;
      .listItem {
        background: transparent;
        padding: 5px 24px 4px 24px;
        border: 1px solid transparent;
        margin-top: 1px;
        margin-bottom: 1px;
      }
      .listItem:hover {
        background: #272727;
        padding: 5px 24px 4px 24px;
        border: 1px solid #444444;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 1px;
        margin-bottom: 1px;
      }
      .listItemSelected {
        background: #272727;
        border: 1px solid #444444;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 5px 7.5px 4px 7.5px;
        margin-top: 1px;
        margin-bottom: 1px;
      }
      .tick {
        margin: 0px 7.5px 0px 0px;
        path {
          .theme-dark & {
            fill: map-get($dark, "icon1");
          }
        }
      }
    }

    .selectorInfo {
      margin-top: 6px;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 11px;
      color: #ffffff;
      height: 11px;
    }
  }

  .style-manager-container {
    padding: 12px 20px 12px 20px;
    .category-label {
      display: flex;
      width: 100%;
      padding: 12px 0px 12px 0px;
      justify-content: space-between;
      align-items: center;
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      color: #ffffff;
    }
    .category-children {
      .custom-label {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #ffffff;
      }
    }
    .rotate-scale-shift-btn {
      height: 30px;
      background: #272727;
      border: 1px solid #444444;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 2px;
      display: flex;
      flex-direction: row;
      flex: 1;
      .selected {
        background: #006cff;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      .inactive {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .line-height,
    .letter-spacing {
      background: #272727;
      border: 1px solid #444444;
      padding: 7px;
      border-radius: 5px;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button,
      select {
        -webkit-appearance: none;
        margin: 0;
      }

      input {
        -moz-appearance: textfield;
        width: 50%;
        outline: none;
        /* flex: 1; */
        background: transparent;
        text-align: center;
        border: none;
        box-sizing: border-box;
        padding: 0px;
        color: #ffffff;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
      }
    }

    .margin-padding {
      height: 30px;
      background: #272727;
      border: 1px solid #444444;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 2px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 150px;
      margin-top: 10px;
      position: relative;
      margin-bottom: 4px;

      .label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 6px;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 11px;
        color: #ffffff;
      }
      .margin-left-div,
      .margin-right-div {
        flex: 1;
        padding: 2%;
      }
      .margin-center-div {
        height: 100%;
        width: 122px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .margin-top-div,
        .margin-bottom-div {
          flex: 1;
          padding: 5%;
        }
        .margin-middle-div {
          height: 90px;
          width: 100%;
          display: flex;
          position: relative;
          background: #444444;
          border: 1px solid #444444;
          border-radius: 5px;
          padding: 2px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .padding-left-div,
          .padding-right-div {
            flex: 1;
            padding: 2%;
          }
          .padding-center-div {
            height: 100%;
            width: 42px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .padding-top-div,
            .padding-bottom-div {
              flex: 1;
              padding: 5%;
              display: flex;
              align-items: center;
            }
            .padding-middle-div {
              height: 32px;
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border: 1px solid #272727;
              box-sizing: border-box;
              border-radius: 5px;
              background: #373737;
            }
          }
        }
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button,
      select {
        -webkit-appearance: none;
        margin: 0;
      }

      input {
        -moz-appearance: textfield;
        outline: none;
        text-align: center;
        width: 100%;
        background: transparent;
        border: none;
        box-sizing: border-box;
        padding: 0px;
        color: #ffffff;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
      }
    }
    .border-radius-integer {
      display: flex;
      flex-direction: row;
      // margin-left: 23px;
      width: 60%;
      .integer-container {
        height: 30px;
        // width: 40%;
        // flex: 1;
        position: relative;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button,
        select {
          -webkit-appearance: none;
          margin: 0;
        }
        select {
          font-family: "Source Sans Pro";
          font-weight: normal;
          font-size: 11px;
          line-height: 14px;
          color: #ffffff;
          background-color: transparent;
          outline: none;
          border: none;
          margin-right: 6px;
        }
        input[type="number"] {
          -moz-appearance: textfield;
          outline: none;
          width: 100%;
          background: #272727;
          border: 1px solid #444444;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 7px 0px 7px 7px;
          color: #ffffff;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          height: 30px;
        }
        .step {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 1px 0px 1px 0px;
          flex-direction: column;
          width: 13px;
          background: #444444;
          border-radius: 0px 4px 4px 0px;
          svg {
            cursor: pointer;
          }
        }
        .unit-select {
          position: absolute;
          top: 0;
          color: #ffffff;
          right: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          flex-direction: column;
          select {
            color: #5e5e5e;
          }
        }
      }
    }
    .independent-border-radius-btn {
      cursor: pointer;
      background: #444444;
      border: 1px solid #444444;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      margin-left: 10px;
      padding: 9px;
    }

    .border-radius-independent-container {
      background: #272727;
      border: 1px solid #444444;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      // margin-top: 10px;
      // margin-bottom: 10px;

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield;
        outline: none;
        width: 100%;
        background: transparent;
        border: none;
        // box-sizing: border-box;
        // border-radius: 5px;
        padding: 7px 0px 7px 7px;
        color: #ffffff;
        font-family: "Source Sans Pro";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        height: 30px;
      }
    }
    .custom-spacing {
      padding-bottom: 6px;
      // margin-bottom: 10px;
    }

    .composite-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .composite-cross {
      display: flex;
      justify-content: flex-end;
    }
  }

  .view-mode-container {
    display: flex;
    flex-direction: row;
    padding: 12.5px 0px 12.5px 22.5px;
    border-top: 1px solid #444444;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    .heading {
      margin-left: 8.5px;
    }
  }
}
