.profile-data-row2 {
    input#phone::-webkit-outer-spin-button,
    input#phone::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input#input[type=number]  {
        -moz-appearance: textfield;
    }
}
.loggedin-content-container{
    &.profile-main{
        padding-top: 0;

        .row{
            margin: 0 -5px;
        }
    }
}