@import "../../../assets/theme/editorTheme.scss";

.ReactModalPortal {
  position: absolute;
  z-index: 5;
}
.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-theme-dark {
  background-color: map-get($dark, "background5");
  border: 1px solid #444444;
  border-color: map-get($dark, "background3");
  color: map-get($dark, "color");
}
.modal-theme-light {
  background-color: map-get($light, "background5");
  border: 1px solid #444444;
  border-color: map-get($light, "background3");
  color: map-get($light, "color");
}
.Modal {
  position: absolute;
  width: 500px;
  //height: 883px;
  outline: none;
  top: 40px;
  bottom: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: auto;
}

form > .seo-preview {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  border: 1px solid #5e5e5e;
  //   background: #444444;
  .modal-theme-dark & {
    background-color: map-get($dark, "background3");
    border-color: map-get($dark, "background4");
  }
  .modal-theme-light & {
    background-color: map-get($light, "background3");
    border-color: map-get($light, "background2");
  }
  span {
    color: map-get($primary, "background");
  }
  h5 {
    margin: 14px 0px 2px;
  }
  .helper-text {
    margin-left: 0px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444444;
  .modal-theme-dark & {
    border-color: map-get($dark, "background3");
  }
  .modal-theme-light & {
    border-color: map-get($light, "background3");
  }
  h4,
  svg {
    margin: 10px 20px;
  }
  h4 {
    font-size: 16px;
  }
}
form {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;

  div {
    border-top: 1px solid #444444;
    .modal-theme-dark & {
      border-color: map-get($dark, "background3");
    }
    .modal-theme-light & {
      border-color: map-get($light, "background3");
    }
  }
  h4 {
    font-size: 16px;
    margin-left: 10px;
  }
  .seo-setting {
    margin-top: -15px;
  }
  label {
    margin: 0px 0px 0px 10px;
  }
  input,
  textarea {
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    padding: 12px 10px;
    //   background-color: #2b2b2b;
    //   color: #ffffff;
    border: 1px solid white;
    .modal-theme-dark & {
      background-color: map-get($dark, "background2");
      border-color: map-get($dark, "background3");
      color: map-get($dark, "color");
    }
    .modal-theme-light & {
      background-color: map-get($light, "background2");
      border-color: map-get($light, "background3");
      color: map-get($light, "color");
    }
  }
  textarea {
    resize: none;
    height: 80px;
  }
  .helper-text {
    margin-bottom: 8px;
    display: flex;
	justify-content: flex-start;
	align-items: center;
    //   color: #c0c0c0;
    .modal-theme-dark & {
      color: map-get($dark, "color1");
    }
    .modal-theme-light & {
      color: map-get($light, "color1");
    }
    svg {
      margin-right: 5px;
    }
  }
  footer {
    float: right;
    border-top: 1px solid #444444;
    .modal-theme-dark & {
      border-color: map-get($dark, "background3");
    }
    .modal-theme-light & {
      border-color: map-get($light, "background3");
    }
  }
  footer > button {
    width: 102px;
    height: 40px;
    margin: 20px 20px 0px 20px;
    background-color: map-get($primary, "background");
    border-radius: 5px;
    float: right;
    color: map-get($primary, "color");
  }
  .favicon-content {
    display: flex;
    justify-content: flex-start;
    border-top: none;
    align-items: flex-start;
    margin-bottom: 5px;
  }
}

.favicon-box {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  //   background: #272727;
  .modal-theme-dark & {
    background-color: map-get($dark, "background2");
  }
  .modal-theme-light & {
    background-color: map-get($light, "background2");
  }
  img {
    width: 26px;
    height: 26px;
  }
}
#upload-btn {
  padding-left: 10px;
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .helper-text {
    margin-top: 7px;
  }
}
.upload-btn {
  width: 76px;
  height: 28px;
//   margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: map-get($primary, "background");
  color: map-get($primary, "color");
}
