<!------------------------------------- Section-4----------------------------------->
<section id="features" class="custom-sec4">
    <div class="container">
        <div class="row align-items-center custom-sec4-row2">
            <div class="col-md-10 col-lg-10 col-sm-12 p-0" data-aos="fade-right" data-aos-duration="2000">
                <p class="sub-title">Our Services</p>
                <h1 class="main-title">Designs that are tailor-made to your needs</h1>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 p-0" data-aos="fade-left" data-aos-duration="2000">
                <div class="nav-item-contact contact-spcing"> <a class="nav-link-2" href="#downloadtheapp">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="slider responsive">
            <div class="service-slide">
                <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/s-one.jpg" alt="" />
                <div class="slider-contant">
                    <p class="Service-name">Roofing Repair</p>
                    <p class="Service-descpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque sed.</p>
                </div>
            </div>
            <div class="service-slide">
                <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/s-two.jpg" alt="" />
                <div class="slider-contant">
                    <p class="Service-name">Remodeling</p>
                    <p class="Service-descpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque sed.</p>
                </div>
            </div>
            <div class="service-slide">
                <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/s-three.jpg" alt="" />
                <div class="slider-contant">
                    <p class="Service-name">Carpentry</p>
                    <p class="Service-descpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque sed.</p>
                </div>
            </div>
            <div class="service-slide">
                <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/s-one.jpg" alt="" />
                <div class="slider-contant">
                    <p class="Service-name">Roofing Repair</p>
                    <p class="Service-descpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque sed.</p>
                </div>
            </div>
            <div class="service-slide">
                <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/s-two.jpg" alt="" />
                <div class="slider-contant">
                    <p class="Service-name">Remodeling</p>
                    <p class="Service-descpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque sed.</p>
                </div>
            </div>
            <div class="service-slide">
                <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/s-three.jpg" alt="" />
                <div class="slider-contant">
                    <p class="Service-name">Carpentry</p>
                    <p class="Service-descpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit Pellentesque sed.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------- /Section-4----------------------------------->




















































<!------------------------------------- Section-6----------------------------------->
<section id="our-gallery" class="custom-sec6">
    <div class="container-fluid">
        <div class="row align-items-center custom-sec6-row1">
            <div class="col-md-8 col-lg-8 col-sm-12 p-0" data-aos="fade-right" data-aos-duration="2000">
                <p class="sub-title" style="color: #fff;">OUR GALLERY</p>
                <h1 class="main-title" style="color: #fff;">Residential and Commercial Carpenters</h1>
            </div>
            <div class="slider responsive-1 web-slider">
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/slider-2.png" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/slider-2.png" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/slider-1.jpg" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/3x/slider-2.png" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
            </div>
            <div class="container mobile-slider">
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/1x/Image_07.jpg" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/1x/imag-8.8.jpg" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/1x/Image_07.jpg" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
                <div class="Gallery-slide">
                    <img class="img-responsive" src="${assetsUrl}/templates/carpentry/Images/1x/imag-8.8.jpg" alt="" />
                    <div class="G-text">
                        <p class="G-head">INTERNATIONAL ARTISAN</p>
                        <p class="G-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, posuere sed cursus a, rhoncus ultricies risus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------- /Section-6----------------------------------->