@import "../../../../assets/theme/editorTheme.scss";

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  .container-class {
    display: flex;
    flex-direction: column;
    width: 100%;

    .label-class {
      font-family: "Source Sans Pro";
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 14px;
      color: #ffffff;
      padding-top: 4px;
    }
    .field-class {
      padding: 6px 0px 6px 0px;
      flex: 1;
      .radio-btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1px;
        background: #272727;
        border-radius: 5px;
        height: 30px;

        .btn {
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          // padding: 10px 28px 9px 28px;
          background: transparent;
          cursor: pointer;
        }
        .btn-active {
          flex: 1;
          justify-content: center;
          align-items: center;
          display: flex;
          // padding: 10px 28px 9px 28px;
          background: #444444;
          cursor: pointer;
        }
      }

      .select-container {
        background: #444444;
        border: 1px solid #5e5e5e;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        height: 30px;
        display: flex;
        position: relative;
        .input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // padding: 2px;
          width: 100%;
          padding: 7px 13px 7px 10px;
        }

        .list-container {
          position: absolute;
          z-index: 5;
          padding: 15px 10px 15px 10px;
          // max-height: 45%;
          overflow-y: auto;
          background: #1b1b1b;
          border-radius: 5px;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          color: #c0c0c0;
          .item-label {
            padding-left: 24px;
          }
          .list-item {
            background: transparent;
            padding: 5px 24px 4px 0px;
            border: 1px solid transparent;
            margin-top: 1px;
            margin-bottom: 1px;
            position: relative;
          }
          .list-item:hover {
            background: #272727;
            padding: 5px 24px 4px 0px;
            border: 1px solid #444444;
            box-sizing: border-box;
            border-radius: 5px;
            margin-top: 1px;
            margin-bottom: 1px;
            position: relative;
          }
          .list-item-selected {
            background: #272727;
            border: 1px solid #444444;
            box-sizing: border-box;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 5px 24px 4px 0px;
            margin-top: 1px;
            margin-bottom: 1px;
            position: relative;
          }
          .tick {
            margin: 0px 7.5px 0px 0px;
            left: 7.5px;
            position: absolute;
            path {
              .theme-dark & {
                fill: map-get($dark, "icon1");
              }
            }
          }
        }
      }

      .integer-container {
        height: 30px;
        position: relative;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button,
        select {
          -webkit-appearance: none;
          margin: 0;
        }
        select {
          font-family: "Source Sans Pro";
          font-weight: normal;
          font-size: 11px;
          line-height: 14px;
          color: #ffffff;
          background-color: transparent;
          outline: none;
          border: none;
          margin-right: 6px;
        }
        input[type="number"] {
          -moz-appearance: textfield;
          outline: none;
          width: 100%;
          background: #272727;
          border: 1px solid #444444;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 7px 0px 7px 7px;
          color: #ffffff;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          height: 30px;
        }
        .step {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          padding: 1px 0px 1px 0px;
          flex-direction: column;
          width: 13px;
          background: #444444;
          border-radius: 0px 4px 4px 0px;
          svg {
            cursor: pointer;
          }
        }
        .unit-select {
          position: absolute;
          top: 0;
          color: #ffffff;
          right: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          flex-direction: column;
          select {
            color: #5e5e5e;
          }
        }
      }

      .slider-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .slider {
          display: flex;
          width: 65%;
        }
        .value {
          display: flex;
          flex: 1;
          margin-left: 10px;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          color: #ffffff;
        }
      }

      .picker-field-container {
        height: 30px;
        position: relative;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 1px solid #444444;
        border-radius: 5px;
        background: #272727;

        .preview-color {
          height: 20px;
          width: 20px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button,
        select {
          -webkit-appearance: none;
          margin: 0;
        }

        select {
          font-family: "Source Sans Pro";
          font-weight: normal;
          font-size: 11px;
          line-height: 14px;
          color: #ffffff;
          background-color: transparent;
          outline: none;
          border: none;
          margin-right: 6px;
        }

        input {
          -moz-appearance: textfield;
          outline: none;
          // width: 100%;
          background: transparent;
          border: none;
          // border-left: none;
          box-sizing: border-box;
          // border-radius: 5px;
          padding: 7px 0px 7px 7px;
          color: #ffffff;
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 16px;
          // height: 30px;
        }
        .value {
          display: flex;
          width: 60%;
        }
        .alpha {
          display: flex;
          width: 30%;
          border-left: 1px solid #444444;
        }
        .unit-select {
          position: absolute;
          top: 0;
          color: #ffffff;
          right: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          flex-direction: column;
          select {
            color: #ffffff;
          }
        }
      }

      .composite-container {
        border: 1px solid #272727;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 2px;

        .composite-elements {
          background: #272727;
          box-sizing: border-box;
          border-radius: 5px;
          padding: 5px;
          margin: 5px;
        }
      }
    }
  }
}

.chrome-picker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-family: "Source Sans Pro" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  // background-color: #1e1e1e !important;
  // input, span {
  //   color: #ffffff !important;
  // }
}
