#signup-container {
    input[type="password"] {
        background: #f2f2f2;
        border: 0;
        border-radius: 0;
        height: 49px;
        box-shadow: none;
    }
    a:hover {
        color: #31CDB9;
        // border-bottom: 2px solid #31CDB9;
    }
}