
$dark: (
  background: #373737,
  background1: #1b1b1b,
  background2: #272727,
  background3: #444444,
  background4: #5e5e5e,
  background5: #373737,
  background6: #2b2b2b,
  background7: #1E1E1E,
  scrollBarTrack: #272727,
  scrollBarThumb: #6a6a6a,
  color: #ffffff,
  color1: #c0c0c0,
  icon1: #c0c0c0,
  icon2: #ffffff,
  icon3: #c4c4c4,
);

$light: (
  background: #ffffff,
  background1: #ffffff,
  background2: #f6f6f6,
  background3: #e6e6e6,
  background4: #e6e6e6,
  background5: #ffffff,
  background6: #c0c0c0,
  background7: #ffffff,
  scrollBarTrack: #e6e6e6,
  scrollBarThumb: #c0c0c0,
  color: #5e5e5e,
  color1: #5e5e5e,
  icon1: #5e5e5e,
  icon2: #5e5e5e,
  icon3: #5e5e5e,
);

$primary: (
  background: #006cff,
  color: #ffffff,
  icon: #ffffff,
  danger: #f16b16,
);
