@import "../../assets/theme/editorTheme.scss";
@font-face {
  font-family: "Source Sans Pro";
  src: url("/assets/Fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "icomoon";
  src: url("/assets/Fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-SS-Checkbox:before {
  content: "\e900";
  color: #006cff;
  height: 20px;
  width: 20px;
}
.icon-CheckboxUnchecked:before {
  content: "\e901";
  color: #fff;
}
.icon-Cross:before {
  content: "\e902";
  color: #fff;
}
.icon-Dropdown:before {
  content: "\e903";
  color: #c0c0c0;
}
.icon-Plus:before {
  content: "\e904";
  color: #c0c0c0;
}
.icon-tick:before {
  content: "\e905";
  color: #c0c0c0;
}

#grapesEditor {
  flex: 1;
}

.gjs-rte-actionbar {
  background-color: red;
}

// .gjs-toolbar { display: none }