.loggedin-content-container {
    padding: 50px 0;

    .container {
        max-width: 1160px;

        h1{
            color: #281C73;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
        }
    }
    
    .subcription-other-plans,
    .subscription-settings{
        h2{
            color: #281C73;
            font-size: 22px;
            font-weight: 700;
        }
        h3{
            color: #281C73;
            font-size: 18px;
            font-weight: 700;
            margin: 0;
        }

        p{
            color: #252153;
            opacity: .5;
            margin: 0px 0 30px;
            font-size: 16px;
        }
    }
    .subscription-settings {
        margin-top: 20px;
        padding: 30px;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 20px 40px rgba(40, 28, 115, 0.1);

        .subscription-table{
            th {
                color: #281C73;
                font-weight: 700;
                font-size: 16px;
                border-bottom: 1px solid #F2F2F2;
                padding-bottom: 10px;
            }
            .no-subscription{
                border-bottom: none;
                padding: 40px 0 0px 0;

                svg {
                    max-width: 80px;
                    display: block;
                    margin: auto;
                    fill: rgb(103, 115, 125);
                }
                span{
                    color: #252153;
                    opacity: .5;
                    font-size: 16px;
                }
            }

            tbody{
                td {
                    color: #252153;
                    font-size: 20px;
                    border-bottom: 1px solid #F2F2F2;
                    padding: 15px 5px;
                    opacity: 0.5;

                    &:first-child,
                    &:last-child {
                        color: #F17D53;
                        opacity: 1;
                    }
                }
            }
        } 
    }

    .subcription-other-plans{
        margin-top: 50px;

        .other-plan-items .d-flex:not(.other-plan-features):not(.other-plan-features-item) {
            margin: 0 -20px;
            width: auto;

            > div {
                padding: 0 20px 40px;
            }
        }

        .other-plan-wrapper {
            padding: 30px;
            background: white;
            border-radius: 20px;
            box-shadow: 0px 20px 40px rgba(40, 28, 115, 0.1);

            h3 {
                font-size: 24px;
            }

            h2 {
                font-size: 60px;
                font-family: 'Quicksand', sans-serif !important;

                 sub {
                    font-size: 30px;
                    position: relative;
                    bottom: 0px;
                    font-weight: 400;
                }
            }

            button{
                background-color: #F17D53;
                color: white;
                font-size: 16px;
                line-height: 50px;
                font-weight: 500;
                height: auto;
                opacity: 1;
                width: 100%;
                margin-bottom: 25px;
            }
        }

        .pricing-toggle-wrapper {
            background-color: #9D9999;
            width: 72px;
            border-radius: 40px;
            border: 2px solid black;
            height: 30px;
            position: relative;
            margin: 0 15px;
            cursor: pointer;
        
            span {
                position: absolute;
                border: 2px solid black;
                background-color: #3DAEB4;
                width: 22px;
                height: 21px;
                border-radius: 50%;
                top: 50%;
                left: 3px;
                transform: translateY(-50%);
                transition: all 0.3s ease-in-out;
            }
        
            &.annual{
                span{
                    left: 43px;
                }
            }
        }
        .other-plan-features {
            display: flex;

            .other-plan-features-item{
                span{
                    &:first-child{
                        position: relative;
                        top: 7px;
                    }
                    &:last-child{
                        font-size: 17px;
                        margin-left: 20px;
                        color: #252153;
                        opacity: .5;
                    }
                }
            }
            
        }
    }
}