.loggedin-content-container {
    padding: 50px 0;

    .container {
        max-width: 1160px;

        h1{
            color: #281C73;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            margin: 0 !important;
        }
    }

    .domain-settings {
        padding: 30px;
        background: white;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0px 20px 40px rgba(40, 28, 115, 0.1);

        h2{
            color: #281C73;
            font-size: 22px;
            font-weight: 700;
        }

        p{
            color: #252153;
            opacity: .5;
            margin: 5px 0 30px;
            max-width: 323px;
            font-size: 16px;
        }
        .buy-a-domain-btn{
            background-color: #F17D53;
            border-radius: 100px;
            color: white;
            padding: 15px 30px;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
        }
        .domainList-table{
            th {
                color: #281C73;
                font-weight: 700;
                font-size: 16px;
                border-bottom: 1px solid #F2F2F2;
                padding-bottom: 10px;
            }
            .no-domains{
                border-bottom: none;
                padding: 40px 0 0px 0;

                svg {
                    max-width: 80px;
                    display: block;
                    margin: auto;
                    fill: rgb(103, 115, 125);
                }
                span{
                    color: #252153;
                    opacity: .5;
                    font-size: 16px;
                }
            }
        } 
    }
}