@import "../assets/theme/editorTheme.scss";

// body {
//     margin: 0;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//       sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
  
//   code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//       monospace;
//   }
  
body {
  a {
    cursor: pointer;
  }
}
.Toastify__toast.Toastify__toast--default {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 8px 8px 15px;
  background-color: map-get($dark, "background2");
  color: map-get($dark, "color1");
  .toast-icon-success {
    margin-right: 10px;
    color:  #02e05f;
    font-size: 15px;
  }
  .toast-icon-warning {
    margin-right: 10px;
    color: #eaea00;
    // color:  #02e05f;
    font-size: 15px;
  }
  .toast-icon-error {
    margin-right: 10px;
    color: #eb5757;
    // color:  #02e05f;
    font-size: 15px;
  }
  .Toastify__close-button--default {
    opacity: 0.5;
    color: map-get($dark, "color");
  }
  .Toastify__progress-bar--default {
    background: map-get($dark, "background4");
  }
}