@import "../assets/theme/editorTheme.scss";

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: 'RooneySans';
  src: local('RooneySans'), url('../assets/fonts/RooneySansRegular.OTF') format('opentype');
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// body {
//     margin: 0;
//     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//       sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//   }
  
//   code {
//     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//       monospace;
//   }
  
body {
  a {
    cursor: pointer;
  }
}
.Toastify__toast.Toastify__toast--default {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 8px 8px 15px;
  background-color: map-get($dark, "background2");
  color: map-get($dark, "color1");
  .Toastify__toast-body {
    display: flex;
    align-items: center;
    margin: auto 5px
}
  .toast-icon-success {
    margin-right: 10px;
    color:  #02e05f;
    font-size: 15px;
  }
  .toast-icon-warning {
    margin-right: 10px;
    color: #eaea00;
    // color:  #02e05f;
    font-size: 15px;
  }
  .toast-icon-error {
    margin-right: 10px;
    color: #eb5757;
    // color:  #02e05f;
    font-size: 15px;
  }
  .Toastify__close-button--default {
    opacity: 0.5;
    color: map-get($dark, "color");
  }
  .Toastify__progress-bar--default {
    background: map-get($dark, "background4");
  }
}


.backdrop-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1055;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
      circle {
          // stroke: #31cdb9;
      }
  }
}

.backdrop-loading.dom-trigger {
  display: none;
}
.backdrop-loading.dom-trigger.show {
  display: flex;
  -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}




html, body{
  overflow-x: hidden !important;
}
img{
  width: 100%;
}
body {
  font-family: 'ABeeZee', sans-serif;
  a {
    cursor: pointer;
  }
}
.Toastify__toast.Toastify__toast--default {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 8px 8px 15px;
  background-color: map-get($dark, "background2");
  color: map-get($dark, "color1");
  .toast-icon-success {
    margin-right: 10px;
    color:  #02e05f;
    font-size: 15px;
  }
  .toast-icon-warning {
    margin-right: 10px;
    color: #eaea00;
    // color:  #02e05f;
    font-size: 15px;
  }
  .toast-icon-error {
    margin-right: 10px;
    color: #eb5757;
    // color:  #02e05f;
    font-size: 15px;
  }
  .Toastify__close-button--default {
    opacity: 0.5;
    color: map-get($dark, "color");
  }
  .Toastify__progress-bar--default {
    background: map-get($dark, "background4");
  }
}

button, .btn{
  outline: 0 !important;
}

.btn-primary{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  background: white;
  border-radius: 50px;
  color: #252153;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  border: none;
  padding: 0px 25px;
  height: 82px;
  line-height: 82px;
  opacity: 0.8;
}
.btn-secondary{
  font-family: 'Poppins';
  color: white;
  font-size: 22px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 77px;
  padding: 0 25px;
  margin-top: 15px;
  opacity: 0.8;

  &.btn-logged-in {
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    padding: 0 40px;
  }
}
.btn-primary:hover,
.btn-secondary:hover{
  opacity: 1;
}
button{
  cursor: pointer;
}

.d-flex{
  display: flex;
  width: 100%;
}
.justify-center{
  justify-content: center;
}
.justify-space-between{
  justify-content: space-between;
}
.justify-space-start{
  justify-content: flex-start;
}
.justify-space-end{
  justify-content: flex-end;
}
.align-center{
  align-items: center;
}
.align-flex-end{
  align-items: flex-end;
}
.align-flex-start{
  align-items: flex-start;
}

.flex-column{
  flex-direction: column;
}

.flex-auto{
  flex: 1;
}
.flex-zero-auto{
  flex: 0 0 auto;
}
.flex-wrap{
  flex-wrap: wrap;
}
.col-2{
  flex: 0 0 16.667%;
  width: 16.667%;
  max-width: 16.667%;
}
.col-3{
  flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
}
.col-4{
  flex: 0 0 33.33%;
  width: 33.33%;
  max-width: 33.33%;
}
.col-6{
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.col-8{
  flex: 0 0 66.66%;
  width: 66.66%;
  max-width: 66.66%;
}
.col-12{
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}
.pos-relative{
  position: relative;
}
.container-no-flex{
    max-width: 1440px;
    margin: auto;
}
.container{
    // display: flex;
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Quicksand', sans-serif;
    margin: 0
}
.white-nowrap{
  white-space: nowrap;
}
.gs-border{
  border-color: #F17D53 !important;
}


/* Header */
.header__logo{
  padding: 25px 10px 15px 15px;
  background: white;
  position: relative;
  z-index: 2;

  a {
    display: inline-block;

    img {
      max-width: 253px;
    }
  }
}
.mobile-arrow{
  display: none;
}
.header_navigation {
  flex: 1;
  padding: 15px;
  align-self: center;
  transform: translateY(-10px);
}

.header_nav_wrapper{
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: none;
    justify-content: flex-end;
  
    li{
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    a {
      font-size: 20px;
      text-decoration: none;
      color: #4a4f54;
      &.login-link{
        position: relative;
        padding-left: 15px;
        margin-left: 40px;
  
        img {
          position: absolute;
          right: 100%;
          max-height: 35px;
          transform: translateY(-1px);
          width: auto;
          pointer-events: none;
        }
      }
    }
  }
}
button.mobile-menu-toggle {
  display: none;
  padding: 0;
  background: transparent;
  margin-left: auto;
  margin-right: 0;
}


/* FOoter */
footer.main-footer {
  background: #EFF1F2;
  padding: 70px;
  .col-4{
    img {
      max-width: 200px;
    }
    > p {
      margin-top: 33px;
      font-size: 14px;
      color: #4a4f54;
      font-family: 'RooneySans';
      line-height: 23.31px;
      max-width: 275px;
      margin-bottom: 100px;
    }
  }
  .footer-navigations{
    h4 {
      font-size: 20px;
      font-weight: 700;
      font-family: 'RooneySans';
      color: #4a4f54;
      margin: 15px 0 20px 0;
    }
    ul {
      list-style: none;
      padding-left: 0;

      li {
        color: #4a4f54;
        font-size: 18px;
        font-weight: 400;
        line-height: 35.1px;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
.footer-copyright-social-media{
  img{
    mix-blend-mode: multiply;
  }
}

@media (min-width: 768px){
  .header_nav_wrapper{
    display: block !important;
  }
}

@media (max-width: 767px){
  button.mobile-menu-toggle{
    display: block;
  }
  .d-flex, .container{
    flex-wrap: wrap;
  }
  div[class^="col-"]{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  footer.main-footer {
    padding: 40px 30px;
  }

  h1{
    font-size: 45px;
  }
  h3{
    font-size: 30px;
  }

  section{
    padding: 0 25px;
  }
  
  .main-header{
    > .container{
      align-items: center;
    }
    
    .mobile-arrow{
      display: block;
    }

    .header_navigation{
      transform: unset;
      margin-top: 10px;
      
      .header_nav_wrapper {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 20px 25px;
        z-index: 1;
        background: white;
        box-shadow: 0 10px 15px 0 rgba(0,0,0,0.1);
  
        ul {
          flex-direction: column;

          li{
            margin-right: 0;
            margin-bottom: 20px;

            a{
              font-size: 30px;

              &.login-link{
                padding-left: 0;
                margin-left: 0;
          
                img:not(.mobile-arrow){
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  


  footer.main-footer{
    .footer-navigations{
      .flex-auto{
        flex: 0 0 50%;
      }
    }
    .col-4{
      img{
        max-width: 500px;
      }
      p{
        font-size: 20px;
        max-width: 100%;
      }
    }
  }
}

@keyframes swing{
  0%, 100%{
      transform: rotate(0deg);
  }
  20%{
      transform: rotate(2deg);
  }
  60%{
      transform: rotate(-2deg);
  }
}
@keyframes swing2{
  0%, 100%{
      transform: rotateY(180deg) translateX(-150px) rotateZ(0deg);
  }
  20%{
      transform: rotateY(180deg) translateX(-150px) rotateZ(2deg);
  }
  60%{
      transform: rotateY(180deg) translateX(-150px) rotateZ(-2deg);
  }
}
@keyframes swing3{
  0%, 100%{
    transform: rotate(0deg) scale(0.5);
  }
  20%{
      transform: rotate(2deg) scale(0.5);
  }
  60%{
      transform: rotate(-2deg) scale(0.5);
  }
}

@keyframes fishone{
  0%, 100%{
      transform: rotateY(0deg) translateX(-118%);
  }
  0.1%{
      transform: rotateY(180deg) translateX(0%);
  }
  50%{
      transform: rotateY(180deg) translateX(-118%);
  }
  50.1%{
      transform: rotateY(0deg) translateX(0%);
  }
}
@keyframes fishtwo{
  0%, 100%{
      transform: rotateY(180deg) translateX(220%);
  }
  0.1%{
      transform: rotateY(0deg) translateX(-220%);     
  }
  50%{
      transform: rotateY(0deg) translateX(80%);
  }
  50.1%{
      transform: rotateY(180deg) translateX(-80%);
  }
}
@keyframes fishthree{
  0%, 100%{
      transform: rotateY(0deg) translateX(240%);
  }
  0.1%{
      transform: rotateY(180deg) translateX(-240%);
  }
  50%{
      transform: rotateY(180deg) translateX(240%);
  }
  50.1%{
      transform: rotateY(0deg) translateX(-240%);
  }
}

@keyframes treequote{
  0%, 100%{
      transform: rotateY(0deg);
  }
  20%{
      transform: rotate(2deg);
  }
  40%{
      transform: rotate(-2deg);
  }
  60%{
      transform: rotate(1deg);
  }
  80%{
      transform: rotate(-1deg);
  }
}
@keyframes floating{
  0%, 50%, 100%{
      transform: rotate(0deg) translateY(0);
  }
  30%, 80%{
      transform: rotate(1deg) translateY(20px);
  }
}






.custom-modal.modal .modal-content {
  border-radius: 20px !important;
  padding: 0 !important;

  .modal-header,
  .modal-body{ 
    padding: 20px;
  }

  .modal-body:not(.text-left):not(.text-right) {
    text-align: center;

    h2 {
      color: #281C73;
      font-size: 22px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;

      span{
        font-style: italic;
        font-weight: 700;
      }
    }
    p{
      color: #252153;
      font-size: 16px;
      line-height: 22px;
      margin-top: 5px;
      opacity: .5;
    }
  }

  .modal-footer button:not(.inviteCollab-btn){
    background-color: #F17D53;
    border-radius: 100px;
    color: white;
    padding: 15px 30px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    height: auto !important;
  }
}